[Unit]
Description=Switch sound device after boot
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/switch_sound_device_boot.sh

[Install]
WantedBy=multi-user.target
